@page {
    margin: 2in 0.5in 1rem;
    size: 'A4';
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container {
    margin-left: 0.5in;
    margin-right: 0.5in;
}

h2 {
    text-align: center;
}

h2 .text {
    border-bottom: 1px solid;
    font-family: Bodoni;
}

.ref-container {
    padding-left: 0.5in;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Times-roman;
    font-size: 1rem;
    margin-bottom: 2rem;
}


section p {
    margin-top: 5rem;
    text-align: justify;
    font-size: 20px;
    font-family: ScriptMT;
    line-height: 2.3;
}

.bottom-p {
    margin-top: 1.5rem;
    line-height: 1.5;
}

.field {
    border-bottom: 2px dotted black;
    padding: 0 5rem;
}

.field-medium {
    padding: 0 3rem;
}

.field-small {
    padding: 0 2rem;
}

.bottom {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom .info {
    text-align: center;
    font-family: Times-roman
}