<!DOCTYPE html>
<html lang="en"> {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'results/styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'results/styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'results/styles/components.css' %}">
    <link rel="shortcut icon" href="{% static 'results/images/lg.svg' %}" type="image/x-icon">
    <title>Edit profile</title>
</head>
<body data-bs-theme="dark">
    <header>
        <div class="navbar {% if is_navActive %}active{% endif %}">
            <div class="title">
                <div class="logo">
                  <img src="{% static 'results/images/lg.svg' %}" alt="">
                </div>
            </div>
            <div id="menu"><i class='bx bx-menu-alt-left'></i></div>
            <ul class="nav">
              <li class="nav-item">
                  <a href="{% url 'results:dashboard' %}" class="nav-link">
                      <i class='bx bxs-dashboard'></i>
                      <span>Dashboard</span>
                  </a>
                  <div class="tooltip">Dashboard</div>
              </li>
              <li class="nav-item">
                  <a href="{% url 'results:all_departments' %}" class="nav-link">
                      <i class='bx bx-archive' ></i>
                      <span>Department</span>
                  </a>
                  <div class="tooltip">Department</div>
              </li>
              <li class="nav-item">
                  <a href="{% url 'results:stuffs_view' %}" class="nav-link">
                      <i class='bx bx-user'></i>
                      <span>Staffs</span>
                  </a>
                  <div class="tooltip">Staffs</div>
              </li>
              <li class="nav-item active">
                  <a href="#" class="nav-link">
                      <i class='bx bxs-spray-can'></i>
                      <span>Profile</span>
                  </a>
                  <div class="tooltip">Profile</div>
              </li>
            </ul>
            <div class="user">
                <a href="{% url 'account:user_logout' %}" class="logout">
                    <i class='bx bx-log-out'></i>
                    <div class="label">Logout</div>
                </a>
            </div>
        </div>
    </header>

    <main style="{% if is_navActive %}margin-left:250px{% else %}margin-left:100px{% endif %}">
        <div class="admin-profile-edit mt-3">
            <section>
                <div class="container px-5 py-5">
                  <div class="row">
                    <div class="col-12">
                      <div class="py-2">
                        <div class="d-flex align-items-center justify-content-center">
                          <img src="{{admin.avatar_url}}" alt="avatar"
                            class="rounded-circle img-fluid shadow-lg me-3" style="width: 130px;">
                          <div class="d-flex flex-column justify-content-center ms-1">
                            <h5 class="mb-2 fs-3">{{admin.user_full_name}}</h5>
                            {% if admin.is_super_admin %}
                            <div class="super-admin"></div>
                            {% endif %}
                            {% if admin.dept is not None %}
                            <div class="dept">{{admin.dept.name}}</div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 container mt-3">
                      <div class="text-center mb-4">
                        <p class="text-muted mt-1 mb-0">{{admin.user.email}}</p>
                        <p class="text-muted mt-1 mb-0">Invited by: 
                          {% if admin.invited_by %}<span class="text-white">{{admin.invited_by.adminaccount.user_full_name}}</span>{% else %}<span class="badge bg-secondary">None</span>{% endif %}
                        </p>
                      </div>
                      <div class="row justify-content-center">
                        <div class="col-12">
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="firstnameInput" placeholder="" value="{{admin.user.first_name}}">
                            <label for="firstnameInput">First Name</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="lastnameInput" placeholder="" value="{{admin.user.last_name}}">
                            <label for="lastnameInput">Last Name</label>
                          </div>
                        </div>
                        <div class="col-12 mt-3">
                          <div class="mb-3">
                            <label for="dp" class="form-label">Select profile picture</label>
                            <input class="form-control" type="file" id="dp">
                          </div>                          
                        </div>
                        <div class="col-12 mt-3 d-flex justify-content-end">
                          <button class="btn btn-primary" id="update-ac-btn">Save Changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
        </div>

    </main>

    <script src="{% static 'results/scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'results/scripts/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'results/scripts/nav.js' %}"></script>
    <script src="{% static 'account/scripts/update_admin_acc.js' %}"></script>
    <script>
      const update_admin_account_api = "{% url 'account:update_admin_account' %}";
      const set_admin_avatar_api = "{% url 'account:set_admin_avatar' %}";
      const csrftoken = "{{csrf_token}}";
    </script>
</body>
</html>