<!DOCTYPE html>
<html lang="en">
<head> {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'account/styles/auth1402.css' %}">
    <title>Login</title>
</head>
<body>
    <main data-bs-theme="dark">
        <div id="particles-js"></div>
        <div class="login-container p-5">
            <img src="{% static 'results/images/bdgovt.png' %}" alt="" class="govt-logo">
            <div class="sys-info text-center">
                <img src="{% static 'results/images/lg.svg' %}" alt="">
                <div class="name">Result Administration System</div>
                <div class="instituition">Sylhet Engineering College</div>
            </div>
            <div class="form-container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="emailInput" placeholder="">
                            <label for="emailInput">Email</label>
                        </div>              
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="passwordInput" placeholder="">
                            <label for="passwordInput">Password</label>
                        </div>              
                    </div>
                </div>
                <div class="user-types mb-3 d-flex flex-column align-items-center">
                    <div class="label me-2 mb-2">Login As</div>
                    <div class="row">
                        <div class="u-type col-md-3 mb-2">
                            <input type="radio" name="user-type" id="principal-radio" value="principal" checked>
                            <label for="principal-radio">
                                <div class="title ms-1 text-center">Super Admin, SEC</div>
                            </label>
                        </div>
                        <div class="u-type col-md-3 mb-2">
                            <input type="radio" name="user-type" id="deptadmin-radio" value="department">
                            <label for="deptadmin-radio">
                                <div class="title ms-1 text-center">Department Section, SEC</div>
                            </label>
                        </div>
                        <div class="u-type col-md-3 mb-2">
                            <input type="radio" name="user-type" id="academic-radio" value="academic">
                            <label for="academic-radio">
                                <div class="title ms-1 text-center">Academic Section, SEC</div>
                            </label>
                        </div>
                        <div class="u-type col-md-3 mb-2">
                            <input type="radio" name="user-type" id="sustadmin-radio" value="sustuser">
                            <label for="sustadmin-radio">
                                <div class="title ms-1 text-center">SUST User</div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="forget">
                      <a href="{% url 'account:forgot_password_get' %}" class="forgot-password">Forgot password?</a>
                    </div>
                    <div class="btn-con">
                      <div class="d-flex justify-content-md-end">
                          <button class="btn btn-primary" id="login-btn">Login</button>
                      </div>
                    </div>
                </div>
                  
            </div>
            <div class="alert alert-warning text-center mt-3 w-100" id="error-info-text" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
        </div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> 
    <script>
        const login_api = "{% url 'account:user_login_api' %}";
        const particlejs_config = "{% static 'account/scripts/particlesjs-config.json' %}";
    </script>
    <script src="{% static 'account/scripts/particles.min.js' %}"></script>
    <script src="{% static 'account/scripts/login130224.js' %}"></script>
</body>
</html>