.dp {
  overflow: hidden;
  margin-right: 10px;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.code-inp-con {
  padding: 0 5px !important;
}

input.code-inp {
  width: 9rem;
  background-color: hsla(225, 47%, 65%, 0.3);
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  height: 100%;
  border: 1px solid #555870;
  font-size: 1rem;
  outline: 2px solid #7b90d0;
}
input.code-inp:focus {
  outline: 2px solid #7b90d0;
  border-color: #7b90d0;
  box-shadow: 0 0 5px rgb(161, 161, 161);
}

input.score-inp {
  width: 7rem;
  background-color: #414958;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #555870;
  font-size: 1rem;
}
input.score-inp:focus {
  outline: 2px solid rgb(1, 161, 108);
  border-color: rgb(1, 161, 108);
  box-shadow: 0 0 5px rgb(161, 161, 161);
}

input.score-inp.empty {
  border-color: rgb(163, 221, 47);
  background-color: rgba(170, 255, 0, 0.1);
}
input.score-inp.empty:focus {
  outline: 2px solid yellowgreen;
}

input.score-inp.error {
  border-color: rgb(205, 50, 71);
  background-color: rgba(255, 0, 93, 0.2);
}
input.score-inp.error:focus {
  outline: 2px solid rgb(205, 50, 73);
}

.btn-iconized {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-iconized i {
  font-size: 1.5rem;
}
.btn-iconized span {
  font-size: 1rem;
}

.bg-material {
  background-color: #313846;
}

.bg-material-1 {
  background-color: #414958;
}

.download-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #313846;
  padding: 10px 25px;
  border-radius: 180px;
  border: 1px solid cyan;
  box-shadow: 0 0 5px rgb(73, 72, 72);
  background-color: #1d5461;
  transition: all 0.2s;
}
.download-btn i, .download-btn span {
  color: cyan;
  transition: all 0.2s;
}
.download-btn i {
  font-size: 1.5rem;
  margin-right: 5px;
}
.download-btn span {
  font-family: "Silkscreen", cursive;
  font-size: 1.2rem;
}
.download-btn:hover {
  background-color: #00cfdd;
}
.download-btn:hover i, .download-btn:hover span {
  color: #28293d;
}

.print-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.print-btn i {
  font-size: 1.2rem;
}
.print-btn span {
  font-size: 0.8rem;
}

.left-border-cyan {
  border-left: 3px solid cyan;
  padding-left: 5px;
  color: cyan;
}

.section-title {
  font-size: 1.5rem;
  font-family: "Silkscreen", cursive;
}

.roboto-font {
  font-family: "Roboto Mono", monospace;
}

.silkscreen-font {
  font-family: "Silkscreen", cursive;
}

.serif-font {
  font-family: "Fraunces", serif;
}

.border-b-1 {
  border: 1px solid #555870;
}

.text-gray {
  color: rgb(170, 170, 170);
}

.pill {
  display: inline-block;
  font-size: 14px;
  padding: 2px 15px;
  border-radius: 180px;
}

.pill-green {
  background-color: rgba(28, 206, 126, 0.4);
  color: #57eba3;
}

.pill-red {
  background-color: rgba(238, 69, 69, 0.3);
  color: #ff8080;
}

.pill-gray {
  background-color: rgba(156, 156, 156, 0.2);
  color: rgb(173, 173, 173);
}

.pill-blue {
  background-color: rgba(14, 118, 245, 0.2);
  color: #9dbff8;
}

.switch {
  display: inline-block;
}
.switch label {
  background-color: rgba(91, 90, 90, 0.5);
  display: block;
  width: 50px;
  height: 22px;
  border-radius: 100px;
  cursor: pointer;
}
.switch label::after {
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  background-image: linear-gradient(to bottom right, rgb(111, 113, 113), rgb(137, 139, 139));
  border-radius: 180px;
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 100ms ease-out;
}
.switch input {
  width: 0;
  height: 0;
  display: none;
}
.switch input:checked + label {
  background-color: rgba(60, 143, 167, 0.4);
}
.switch input:checked + label::after {
  left: 55%;
  background-image: linear-gradient(to bottom right, rgb(19, 166, 159), rgb(16, 173, 173));
}

@keyframes rotateIcon {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30%);
  }
  70% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
.download-btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(57, 61, 70);
  padding: 7px 10px;
  border-radius: 180px;
  box-shadow: -2px -2px 3px rgb(112, 123, 126), 2px 2px 3px rgb(22, 26, 27);
  transition: all 400ms;
  position: absolute;
}
.download-btn-2 i {
  font-size: 1.5rem;
  transition: all 400ms;
  text-shadow: 0 0 10px rgb(130, 246, 246);
  position: relative;
}
.download-btn-2 span {
  color: rgb(146, 198, 212);
  transition: all 500ms;
}
.download-btn-2:hover {
  box-shadow: -2px -2px 7px rgb(144, 156, 160), 3px 3px 10px rgb(0, 0, 0);
  background-color: rgb(54, 58, 67);
}
.download-btn-2:hover i {
  color: aquamarine;
  animation: rotateIcon 500ms linear forwards;
}
.download-btn-2:hover span {
  color: aquamarine;
}

.themeswitch {
  display: inline-block;
}
.themeswitch label {
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 3px rgb(228, 228, 228);
  display: block;
  position: relative;
  width: 60px;
  height: 31px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 100ms;
}
.themeswitch label::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: linear-gradient(to bottom right, rgb(0, 145, 138), rgb(7, 195, 195));
  border-radius: 180px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  transition: all 100ms ease-out;
}
.themeswitch label svg {
  position: absolute;
  z-index: 100;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 100ms;
}
.themeswitch label .sun {
  left: 10%;
  right: auto;
  fill: rgb(6, 255, 214);
}
.themeswitch label .moon {
  right: 11%;
  left: auto;
  fill: rgb(173, 173, 173);
}
.themeswitch label:active::after {
  width: 35px;
  background-color: red;
  opacity: 0.7;
}
.themeswitch input {
  width: 0;
  height: 0;
  display: none;
}
.themeswitch input:checked + label {
  box-shadow: none;
}
.themeswitch input:checked + label .moon {
  fill: rgb(0, 255, 213);
}
.themeswitch input:checked + label .sun {
  fill: rgb(231, 231, 231);
}
.themeswitch input:checked + label::after {
  left: auto;
  right: 5%;
}
.themeswitch input:checked + label {
  background-color: #414958 !important;
}

.superadmin-name {
  background: -webkit-linear-gradient(rgb(3, 37, 228), rgb(169, 203, 3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=components.css.map */