@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Gemunu+Libre:wght@300;400;500&family=Lato&family=Montserrat:wght@300;400;500&family=Roboto+Mono&family=Silkscreen&display=swap");
body.light {
  background-color: #ebeaef;
}
body.light .profile {
  background-color: #fefefe;
  box-shadow: 0 0 10px rgb(205, 204, 204);
}
body.light .profile a .name {
  color: #555870;
}
body.light .bg-material {
  background-color: #ffffff;
}
body.light .bg-material-1 {
  background-color: #ebeaef;
}
body.light .dashboard-container .sys-info .h2 {
  color: #555870;
}
body.light .dept-tab-container .sys-info .instituition {
  color: #224769;
  text-shadow: 0 0 5px #bcc9d5;
}
body.light .dept-tab-container .departments a.dept {
  display: block;
}
body.light .dept-tab-container .departments a.dept .fullname {
  padding: 2rem 10px;
}
body.light .dept-tab-container .departments .cse-dept .title {
  color: #ffcc00;
  font-family: inherit;
  text-shadow: 0 0 15px #feed73;
}
body.light .dept-tab-container .departments .eee-dept .title {
  color: #57eba3;
  font-family: inherit;
  text-shadow: 0 0 15px #05c270;
}
body.light .dept-tab-container .departments .ce-dept .title {
  color: #dea5e8;
  font-family: inherit;
  text-shadow: 0 0 15px #6500cd;
}
body.light .dept-tab-container .departments .ce-dept .fullname {
  padding: 3rem 0 !important;
}
body.light .dept-tab-container .departments .dept-semesters {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body.light .dept-tab-container .departments .dept-semesters .all-semesters {
  max-width: 600px;
  width: 30%;
  margin-left: 2%;
}
body.light .dept-tab-container .departments .dept-semesters .all-semesters .content ul {
  list-style-type: none;
  padding: 0;
}
body.light .dept-tab-container .departments .dept-semesters .all-semesters .content ul li {
  margin-bottom: 0.5rem;
}
body.light .dept-tab-container .departments .dept-semesters .all-semesters:first-of-type {
  margin-left: 0;
}
body.light .dept-tab-container .departments .dept-semesters .all-semesters.cse-dept .title {
  color: #ffcc00;
  font-family: inherit;
  text-shadow: 0 0 15px #feed73;
}
body.light .dept-tab-container .departments .dept-semesters .all-semesters.eee-dept .title {
  color: #57eba3;
  font-family: inherit;
  text-shadow: 0 0 15px #05c270;
}
body.light .dept-tab-container .departments .dept-semesters .all-semesters.ce-dept .title {
  color: #dea5e8;
  font-family: inherit;
  text-shadow: 0 0 15px #6500cd;
}
body.light .dept-tab-container .card .card-text {
  color: #28293d;
}
body.light .dept-tab-container .card .bg-material {
  background-color: #b5c7d7;
}
body.light .dept-tab-container .department-main .sessions {
  background-color: white;
}
@keyframes newSessionBgColorLight {
  from {
    background-color: rgb(79, 137, 171);
  }
  to {
    background-color: rgb(64, 97, 116);
  }
}
body.light .dept-tab-container .department-main .sessions .section-title {
  color: #9090a7;
}
body.light .dept-tab-container .department-main .sessions .session {
  background-color: rgb(64, 97, 116) !important;
}
body.light .dept-tab-container .department-main .sessions .session:hover {
  background-color: rgb(77, 122, 148) !important;
}
body.light .dept-tab-container .department-main .sessions .session.new {
  animation: newSessionBgColorLight 2s linear 1 !important;
}
body.light .dept-tab-container .department-main .add-semester button {
  transition: all 200ms;
}
body.light .dept-tab-container .department-main .add-semester button i, body.light .dept-tab-container .department-main .add-semester button span {
  color: #222325 !important;
}
body.light .dept-tab-container .department-main .add-semester button:hover i, body.light .dept-tab-container .department-main .add-semester button:hover span {
  color: white !important;
}
body.light .view-session-container .btn-container button i {
  color: #ff8801 !important;
}
body.light .view-session-container .btn-container button span {
  color: #555870;
}
body.light .view-session-container .semesters {
  background-color: rgb(202, 207, 206);
}
body.light .view-session-container .semesters .section-title {
  color: #9090a7;
}
body.light .view-session-container .semesters .semester-item {
  background-color: #325779 !important;
  transition: all 0.2s;
}
body.light .view-session-container .semesters .semester-item .sem-codename {
  box-shadow: 2px 2px 2px #28293d, -2px -3px 3px rgb(83, 103, 145) !important;
}
body.light .view-session-container .semesters .semester-item:hover {
  background-color: #477199 !important;
  outline: 0px !important;
}
body.light .view-session-container .semesters .semester-item.running-semester {
  background-color: rgb(63, 154, 122) !important;
}
body.light .view-session-container .semesters .semester-item.running-semester .sem-codename {
  box-shadow: 0 0 50px rgb(55, 255, 188) !important;
}
body.light .view-session-container #carry-listing-modal .text-info {
  color: #5b8dee !important;
}
body.light .view-session-container #carry-listing-modal table .fw-bold {
  color: #9090a7;
}
body.light .view-session-container .students-list .student {
  background-color: #ffffff !important;
  box-shadow: 2px 2px 5px rgb(219, 219, 219);
}
body.light .view-session-container .students-list .student .info .name {
  color: #555870 !important;
}
body.light .view-session-container .students-list .student .info .reg-no {
  color: #5b8dee !important;
}
body.light .view-session-container .students-list .student.re-addmitted {
  background-color: #5b8dee !important;
}
body.light .view-session-container .students-list .student.re-addmitted .info .name {
  color: #ebeaef !important;
}
body.light .view-session-container .students-list .student.re-addmitted .info .reg-no {
  color: #ebeaef !important;
}
body.light .view-semester-container .header {
  color: #9090a7 !important;
}
body.light .view-semester-container .text-info {
  color: #0063f8 !important;
}
body.light .view-semester-container .running-sem-badge .inner {
  background-color: rgba(0, 210, 147, 0.8);
  padding: 2px 10px 2px 10px;
  border-radius: 180px;
}
body.light .view-semester-container .running-sem-badge .inner .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  margin-right: 5px;
  border-radius: 180px;
  animation: glowAnimation 2s infinite;
}
body.light .view-semester-container .running-sem-badge .inner .title {
  font-family: "Gemunu Libre", sans-serif;
  color: white;
}
body.light .view-semester-container .border-b-1 {
  border: 0 !important;
}
body.light .view-semester-container .all-courses .course {
  display: block;
  border: 1px solid #41709d !important;
  border-left: 5px solid #41709d !important;
  border-right: 5px solid #41709d !important;
  background-color: rgba(0, 38, 255, 0.1) !important;
  transition: all 200ms;
}
body.light .view-semester-container .all-courses .course .course-code {
  color: #41709d !important;
}
body.light .view-semester-container .all-courses .course .course-title {
  color: #313846 !important;
}
body.light .view-semester-container .all-courses .course .credits i, body.light .view-semester-container .all-courses .course span {
  color: rgb(106, 148, 148) !important;
}
body.light .view-semester-container .all-courses .course:hover {
  border-color: #3568d4 !important;
  box-shadow: 0 0 10px rgba(96, 114, 128, 0.2) !important;
  background-color: rgba(0, 38, 255, 0.2) !important;
}
body.light .view-semester-container .all-courses .course.drop-course {
  border: 1px solid #ff8080 !important;
  border-left: 5px solid #ff8080 !important;
  border-right: 5px solid #ff8080 !important;
  background-color: rgba(237, 41, 41, 0.1) !important;
}
body.light .view-semester-container .all-courses .course.drop-course:hover {
  border-color: #ff8080;
  box-shadow: 0 0 10px #28293d;
  background-color: rgba(237, 41, 41, 0.12) !important;
}
body.light .view-semester-container .tabulation .section-title {
  color: #9090a7 !important;
}
body.light .view-semester-container .tabulation .card .card-body .card-title {
  color: #28293d;
}
body.light .view-semester-container .tabulation .render-config .title i, body.light .view-semester-container .tabulation .render-config span {
  color: #555870 !important;
}
body.light .view-semester-container .tabulation .render-config .form-floating label {
  color: #555870 !important;
}
body.light .view-semester-container .tabulation .render-config .label {
  color: #224769 !important;
}
body.light .view-semester-container .tabulation .btn-container button span.roboto-font {
  color: white !important;
}
body.light .view-semester-container .bg-dark {
  background-color: rgb(250, 250, 250) !important;
}
body.light .view-semester-container .semester-info {
  box-shadow: none !important;
}
body.light .view-semester-container .semester-info .roboto-font {
  color: #224769 !important;
}
body.light .view-semester-container .semester-info .btn-secondary i, body.light .view-semester-container .semester-info .btn-secondary span, body.light .view-semester-container .semester-info .btn-success i, body.light .view-semester-container .semester-info .btn-success span {
  color: white !important;
}
body.light .view-semester-container .semester-info .btn-success {
  background-color: #05c270;
  border: none !important;
}
body.light .view-semester-container .semester-info .btn-outline-warning {
  border-color: #ff8801 !important;
  color: #ff8801 !important;
}
body.light .view-semester-container .semester-info .btn-outline-warning:hover {
  color: white !important;
}
body.light .view-semester-container .semester-info i.bg {
  color: #dea5e8;
}
body.light .view-course-container .info .semester a {
  background-color: rgb(220, 220, 220);
  box-shadow: 0 0 10px rgba(220, 220, 220, 0.695);
  border: 1px solid #9090a7;
  border-left: 10px solid #9090a7;
  color: #9090a7;
}
body.light .view-course-container .info .semester.running a {
  background-color: rgb(218, 255, 239);
  border: 1px solid rgb(7, 224, 169);
  border-left: 10px solid rgb(7, 224, 169);
  color: #05c270;
}
body.light .view-course-container .info .course-info .course-code {
  color: #555870;
}
body.light .view-course-container .info .course-info .title {
  color: #9090a7;
}
body.light .view-course-container .text-info {
  color: #00cfdd !important;
}
body.light .view-course-container .score-board {
  background-color: white;
  box-shadow: none;
  border: 1px solid rgb(221, 221, 226);
}
body.light .view-course-container .score-board table thead th {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #ebeaef;
  background-color: #627d96;
  border: 1px solid #555870;
}
body.light .view-course-container .score-board table thead .text-info {
  color: #39da8a !important;
}
body.light .view-course-container .score-board table tbody tr, body.light .view-course-container .score-board table tbody td {
  border: 1px solid #9090a7;
}
body.light .view-course-container .score-board table tbody tr td {
  min-width: 120px !important;
  padding: 10px 5px;
  text-align: center;
}
body.light .view-course-container .score-board table tbody tr td input {
  color: #555870;
  box-shadow: none !important;
}
body.light .view-course-container .score-board table tbody tr td input.score-inp {
  background-color: white;
}
body.light .view-course-container .score-board table tbody tr td:nth-child(1) {
  font-family: "Roboto Mono", monospace;
}
body.light .view-course-container .score-board table tbody tr td:last-of-type {
  background-color: #ebeaef;
  color: #555870;
}
body.light .view-course-container .score-board table tbody tr td a {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  color: #555870;
}
body.light .view-course-container .score-board table tbody tr td a:hover {
  color: #7b90d0;
}
body.light .view-course-container .score-board table tbody tr td.pending {
  background-color: #ff8801;
  color: #28293d;
}
body.light .view-course-container .score-board table tbody tr.drop_course {
  background-color: rgba(164, 117, 117, 0.2);
}
body.light .view-course-container .score-board .btn-container .add-new-btn {
  background-color: #414958;
}
body.light .view-course-container #entryInfoModal .profile-card {
  background-color: white !important;
  box-shadow: 2px 2px 10px rgb(229, 229, 229) !important;
}
body.light .view-course-container #entryInfoModal .profile-card .info .name {
  color: #9090a7 !important;
}
body.light .student-profile-container .semester-item {
  background-color: rgb(51, 113, 147);
}
body.light .student-profile-container .semester-item .text-muted {
  color: rgb(179, 193, 201) !important;
}
body.light .student-profile-container .semester-item.running-semester {
  background-color: rgb(83, 148, 135);
}
body.light .student-profile-container .student-info .col-sm-3 p {
  color: #222325;
}
body.light .student-profile-container .profile-card .readd-badge {
  background-color: #d2dfe0;
}
body.light .student-profile-container .card .card-body .col-sm-3 p {
  color: #3568d4 !important;
}
body.light .student-profile-container .transcript-container .card-body {
  background-color: #ced7de !important;
}
body.light .student-profile-container .transcript-container .h5.card-title {
  color: #9090a7 !important;
}
body.light .student-profile-container .sem-gradesheet {
  box-shadow: 2px 2px 5px rgb(209, 209, 209);
  background-color: white;
}
body.light .student-profile-container .sem-gradesheet i {
  font-size: 1.5rem;
  margin-right: 5px;
}
body.light .student-profile-container .sem-gradesheet i, body.light .student-profile-container .sem-gradesheet span {
  color: #41709d;
}
body.light .student-profile-container .sem-gradesheet:hover {
  background-color: beige;
}
body.light .student-profile-container .year-gradesheet {
  box-shadow: 2px 2px 5px rgb(209, 209, 209);
  background-color: #5b7488;
  color: rgb(0, 196, 131);
  transition: all 0.2s;
}
body.light .student-profile-container .year-gradesheet i {
  color: #ebeaef;
}
body.light .student-profile-container .year-gradesheet .num {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 0 0 10px rgba(216, 228, 231, 0.4);
}
body.light .student-profile-container .year-gradesheet:hover {
  background-color: #4c687f;
}
body.light .student-profile-container .year-gradesheet:hover i {
  color: white;
}
body.light .student-profile-container .year-gradesheet:hover .num {
  color: rgba(255, 255, 255, 0.9);
}
body.light .student-profile-container .class-position .position span.num {
  color: #05c270 !important;
}
body.light .student-profile-container .class-position .position span.ordinal {
  color: #8a9edc !important;
}
body.light .student-profile-container .class-position .label {
  color: #9090a7;
}
body.light .admin-profile-edit h5 {
  color: #555870 !important;
}
body.light .view-staffs-container .btn-container .roboto-font {
  color: #9090a7;
}
body.light .view-session-container .session, body.light .view-semester-container .session {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #899daf !important;
  border: 0 !important;
}
body.light .view-session-container .session .label, body.light .view-semester-container .session .label {
  color: #fbfcff;
}
body.light .view-session-container .session .value, body.light .view-semester-container .session .value {
  background-color: #414958 !important;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body.light .view-session-container .session .value .code, body.light .view-semester-container .session .value .code {
  font-family: "Roboto Mono", monospace;
}
body.light .view-session-container .session .value .batch-no, body.light .view-semester-container .session .value .batch-no {
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 0.8rem;
  display: inline-block;
  font-family: "Silkscreen", cursive;
  color: #1d5461;
  background-color: #ebeaef;
}
body.light header .navbar {
  background-color: #c6d5da;
  box-shadow: 0 0 20px rgb(218, 218, 218);
}
body.light header .navbar ul.nav li a i, body.light header .navbar ul.nav li a span {
  color: rgb(35, 121, 150);
}
body.light header .navbar ul.nav li a:hover {
  background-color: rgba(95, 128, 157, 0.2);
}
body.light header .navbar ul.nav li.active a {
  box-shadow: 0 0 2px rgb(158, 168, 181);
  background-image: linear-gradient(to right, #3568d4, rgb(12, 99, 175));
}
body.light header .navbar ul.nav li.active a i, body.light header .navbar ul.nav li.active a span {
  color: white;
}
body.light .title-box {
  background-color: #e2e5e8;
}
body.light .title-box .title {
  color: #505359;
}
body.light .section-title {
  color: #9090a7;
}
body.light i.bg-material {
  color: #222325 !important;
}
body.light .modal .modal-title {
  color: #3568d4 !important;
}
body.light .modal .text-info {
  color: #6798ff !important;
}
body.light .modal .bg-material {
  background-color: #ebeaef;
}
body.light .modal .bg-material-1 {
  background-color: #859aad;
}
body.light .modal .text-warning {
  color: #0063f8 !important;
}
body.light .modal .text-center {
  color: #9090a7 !important;
}
body.light .modal label {
  color: #555870;
}
body.light .modal ul li {
  color: #6500cd !important;
}
body.light .modal a span {
  color: #555870;
}
body.light .download-btn {
  box-shadow: 0 0 0 !important;
  background-color: #41709d;
  border-color: #41709d !important;
}
body.light .download-btn i, body.light .download-btn span {
  color: white;
}
body.light .download-btn:hover {
  background-color: #30608d;
}
body.light .download-btn-2 {
  background-color: #ebeaef;
  box-shadow: -2px -2px 5px rgb(255, 255, 255), -3px 0px 5px rgb(255, 255, 255), 2px 0px 3px rgb(209, 208, 208), 2px 2px 3px rgb(184, 194, 196);
}
body.light .download-btn-2 i {
  color: #0063f8;
  text-shadow: 0 0 10px rgb(128, 159, 159);
}
body.light .download-btn-2 span {
  color: #5b8dee;
}
body.light .download-btn-2:hover {
  box-shadow: none;
  background-color: white;
}
body.light .download-btn-2:hover i {
  text-shadow: none;
}
body.light .btn-primary.btn-iconized i, body.light .btn-primary.btn-iconized span {
  color: white !important;
}
body.light .pill-green {
  background-color: rgba(28, 206, 126, 0.3);
  color: rgb(91, 152, 132);
}
body.light .pill-gray {
  background-color: rgba(156, 156, 156, 0.2);
  color: #9090a7;
}
body.light .switch label {
  background-color: rgba(186, 186, 186, 0.5);
}
body.light .switch label::after {
  background-image: linear-gradient(to bottom right, rgb(174, 174, 174), rgb(137, 139, 139));
}
body.light .switch input:checked + label {
  background-color: rgba(60, 143, 167, 0.3);
  box-shadow: inset -2px -2px 10px rgba(75, 126, 141, 0.2), inset 2px 2px 10px rgba(164, 198, 185, 0.5);
}
body.light .switch input:checked + label::after {
  left: 55%;
  background-image: linear-gradient(to bottom right, rgb(19, 166, 159), rgb(16, 173, 173));
}
body.light .btn-outline-secondary.btn-iconized i, body.light .btn-outline-secondary.btn-iconized span {
  color: #555870 !important;
  transition: all 0.5ms;
}
body.light .btn-outline-secondary.btn-iconized:hover i, body.light .btn-outline-secondary.btn-iconized:hover span {
  color: white !important;
}
body.light .btn-success.btn-iconized i, body.light .btn-success.btn-iconized span {
  color: white !important;
}
body.light .card .card-text {
  color: #9090a7 !important;
}
body.light .form-floating label {
  color: #9090a7 !important;
}
body.light .form-label {
  color: #9090a7;
}
body.light .text-warning {
  color: #ff8801 !important;
}
body.light p.text-white {
  color: #9090a7 !important;
}
body.light span.bg-dark.border.shadow-lg {
  background-color: white !important;
  color: #3568d4;
  box-shadow: none !important;
}
body.light span.text-white {
  color: #3568d4 !important;
}

* {
  box-sizing: border-box;
  color: #f2f2f4;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(43, 45, 51);
  display: flex;
  position: relative;
}
body main {
  min-height: 100vh;
  width: 100%;
  margin-left: 250px;
  transition: all 0.2s ease-in;
}
body main .dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100% !important;
}
body main .dashboard-container .sys-info img {
  width: 7rem;
  margin-bottom: 1rem;
}
body main .dashboard-container .sys-info .h2, body main .dashboard-container .sys-info .h4 {
  color: #ebeaef;
  font-family: "Roboto Mono", monospace;
}
body main .dashboard-container .sys-info .h4 {
  color: #9090a7;
}
body main .dashboard-container .dashboard-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul {
  list-style-type: none;
  padding: 0;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li {
  margin-bottom: 0.5rem;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(60, 81, 92);
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .sem-codename {
  padding: 5px;
  border-radius: 5px;
  margin-right: 1.5rem;
  background-color: rgba(15, 15, 15, 0.3);
  box-shadow: 2px 2px 2px #28293d, -2px -3px 3px rgb(89, 89, 89);
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .sem-codename span {
  font-family: "Silkscreen", cursive;
  font-size: 1.5rem;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .info .session .label {
  color: #ebeaef;
  font-family: "Gemunu Libre", sans-serif;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .info .session .dept {
  display: inline-block;
  margin-left: 10px;
  padding: 0 5px;
  font-weight: 500;
  border-radius: 4px;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .info .session .dept.eee {
  color: #57eba3;
  box-shadow: 0 0 10px #57eba3;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .info .session .dept.cse {
  color: #feed73;
  box-shadow: 0 0 10px #feed73;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .info .session .dept.ce {
  color: #dea5e8;
  box-shadow: 0 0 10px #dea5e8;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .info .session .dept-all-offline-sem {
  color: #ebeaef;
  box-shadow: 0 0 10px #ebeaef;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item .info .exam-start-month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
body main .dashboard-container .dashboard-content .live-semesters .content ul li .semester-item:hover {
  box-shadow: 0 0 3px #6798ff;
}
body main .dashboard-container .dashboard-content .activities .content ul {
  margin: 0;
  padding: 0;
}
body main .dashboard-container .dashboard-content .activities .content ul li {
  list-style-type: none;
  margin-bottom: 5px;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item img {
  width: 40px;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item i.label {
  margin-right: 10px;
  font-size: 2.2rem;
  padding: 3px;
  border-radius: 5px;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item i.add {
  background-color: #05c270;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item i.delete {
  background-color: #ff3b3b;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item i.update {
  background-color: #0063f8;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item .details .info {
  font-size: 0.7rem;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item .details .info .username {
  font-weight: 500;
  color: #9090a7;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item .details .info .course {
  color: #5b8dee;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item .details .info .semester {
  font-family: "Roboto Mono", monospace;
  color: #6798ff;
}
body main .dashboard-container .dashboard-content .activities .content ul li .activity-item:hover {
  background-color: rgba(0, 0, 0, 0.405);
  border-radius: 7px;
}
body main .dept-tab-container {
  margin-top: 5rem;
  width: 90%;
}
body main .dept-tab-container .departments {
  display: none;
  padding: 3rem;
  margin-top: 30%;
  transform: translateY(-50%);
}
body main .dept-tab-container .departments a.dept {
  display: block;
  background-color: #313846;
}
body main .dept-tab-container .departments a.dept .fullname {
  padding: 2rem 10px;
}
body main .dept-tab-container .departments .cse-dept .title {
  color: #ffcc00;
  font-family: inherit;
  text-shadow: 0 0 15px #feed73;
}
body main .dept-tab-container .departments .eee-dept .title {
  color: #57eba3;
  font-family: inherit;
  text-shadow: 0 0 15px #05c270;
}
body main .dept-tab-container .departments .ce-dept .title {
  color: #dea5e8;
  font-family: inherit;
  text-shadow: 0 0 15px #6500cd;
}
body main .dept-tab-container .departments .ce-dept .fullname {
  padding: 3rem 0 !important;
}
body main .dept-tab-container .departments .dept-semesters {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body main .dept-tab-container .departments .dept-semesters .all-semesters {
  max-width: 600px;
  width: 30%;
  margin-left: 2%;
}
body main .dept-tab-container .departments .dept-semesters .all-semesters .content ul {
  list-style-type: none;
  padding: 0;
}
body main .dept-tab-container .departments .dept-semesters .all-semesters .content ul li {
  margin-bottom: 0.5rem;
}
body main .dept-tab-container .departments .dept-semesters .all-semesters:first-of-type {
  margin-left: 0;
}
body main .dept-tab-container .departments .dept-semesters .all-semesters.cse-dept .title {
  color: #ffcc00;
  font-family: inherit;
  text-shadow: 0 0 15px #feed73;
}
body main .dept-tab-container .departments .dept-semesters .all-semesters.eee-dept .title {
  color: #57eba3;
  font-family: inherit;
  text-shadow: 0 0 15px #05c270;
}
body main .dept-tab-container .departments .dept-semesters .all-semesters.ce-dept .title {
  color: #dea5e8;
  font-family: inherit;
  text-shadow: 0 0 15px #6500cd;
}
body main .dept-tab-container .department-main .dept-logo {
  width: 180px;
}
body main .dept-tab-container .department-main .dept-title {
  color: #9090a7;
  font-family: "Roboto Mono", monospace;
}
@keyframes newSessionBgColor {
  from {
    background-color: rgba(146, 167, 230, 0.5);
  }
  to {
    background-color: #414958;
  }
}
body main .dept-tab-container .department-main .sessions .session {
  background-color: #414958;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}
body main .dept-tab-container .department-main .sessions .session i.bg {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  font-size: 5rem;
  opacity: 0.1;
}
body main .dept-tab-container .department-main .sessions .session:hover {
  background-color: rgba(146, 167, 230, 0.3176470588);
}
body main .dept-tab-container .department-main .sessions .session.new {
  animation: newSessionBgColor 3s linear 1;
}
body main .dept-tab-container .department-main .sessions button.add-btn {
  background-color: #28293d;
  width: 100%;
  height: 85%;
  transition: all 0.2s;
  opacity: 0.9;
}
body main .dept-tab-container .department-main .sessions button.add-btn i {
  font-size: 4rem;
}
body main .dept-tab-container .department-main .sessions button.add-btn:hover {
  opacity: 1;
}
body main .dept-tab-container .card .text-info {
  color: #3568d4 !important;
}
body main .dept-tab-container .card .card-text {
  color: #ebeaef;
}
body main .form-type-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body main .view-course-container {
  overflow-y: auto;
}
body main .view-course-container .info .semester a {
  background-color: #28293d;
  box-shadow: 0 0 5px #28293d;
  border: 1px solid #9090a7;
  border-left: 10px solid #9090a7;
  text-decoration: none;
  color: #ebeaef;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
}
body main .view-course-container .info .semester.running a {
  background-color: rgba(4, 112, 80, 0.5);
  border: 1px solid rgb(2, 170, 128);
  border-left: 10px solid rgb(2, 170, 128);
  color: #57eba3;
}
body main .view-course-container .info .course-info .course-code {
  color: #9090a7;
  font-size: 2rem;
}
body main .view-course-container .info .course-info .title {
  color: #9dbff8;
}
body main .view-course-container .score-board {
  background-color: #313846;
  border: 1px solid #555870;
  box-shadow: 0 0 10px #222325;
  border-radius: 10px;
}
body main .view-course-container .score-board table {
  width: 100%;
}
body main .view-course-container .score-board table thead th {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #ebeaef;
  background-color: rgb(30, 41, 46);
  font-weight: 500;
  font-size: 0.9rem;
  padding: 15px 10px;
  border: 1px solid #555870;
  border-collapse: collapse;
}
body main .view-course-container .score-board table tbody tr, body main .view-course-container .score-board table tbody td {
  border: 1px solid #555870;
  border-collapse: collapse;
}
body main .view-course-container .score-board table tbody tr {
  overflow: hidden;
  border-radius: 10px;
}
body main .view-course-container .score-board table tbody tr td {
  min-width: 120px !important;
  padding: 10px 5px;
  text-align: center;
}
body main .view-course-container .score-board table tbody tr td:nth-child(1) {
  font-family: "Roboto Mono", monospace;
}
body main .view-course-container .score-board table tbody tr td:last-of-type {
  background-color: #555870;
}
body main .view-course-container .score-board table tbody tr td a {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}
body main .view-course-container .score-board table tbody tr td a:hover {
  color: #7b90d0;
}
body main .view-course-container .score-board table tbody tr td.pending {
  background-color: #ff8801;
  color: #28293d;
}
body main .view-course-container .score-board table tbody tr.drop_course {
  background-color: rgba(185, 79, 79, 0.2);
}
body main .view-course-container .score-board .btn-container .add-new-btn {
  background-color: #414958;
}
body main .view-course-container .profile-card {
  box-shadow: 0 0 50px rgb(39, 39, 39);
  border-radius: 10px;
  padding: 15px;
  background-color: #414958;
}
body main .view-course-container .profile-card .inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: left;
}
body main .view-course-container .profile-card .inner .dp {
  margin-right: 1rem;
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 10px;
}
body main .view-course-container .profile-card .inner .info {
  width: 15rem;
}
body main .view-course-container .profile-card .inner .info .name {
  font-size: 1.2rem;
}
body main .view-course-container .profile-card .inner .info .reg-no {
  color: #f2f2f4;
  font-size: 0.8rem;
  font-family: "Roboto Mono", monospace;
}
body main .view-course-container .profile-card .inner .session span {
  color: #9090a7;
  font-size: 0.7rem;
}
body main .view-course-container .profile-card .inner .session .dept {
  font-weight: 500;
}
body main .view-semester-container {
  overflow: hidden;
  position: relative;
}
body main .view-semester-container .running-sem-badge {
  position: absolute;
}
body main .view-semester-container .running-sem-badge .inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 112, 80, 0.5);
  padding: 2px 10px 2px 10px;
  border-radius: 180px;
}
@keyframes glowAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
body main .view-semester-container .running-sem-badge .inner .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(0, 255, 191);
  margin-right: 5px;
  border-radius: 180px;
  animation: glowAnimation 2s infinite;
}
body main .view-semester-container .running-sem-badge .inner .title {
  font-family: "Gemunu Libre", sans-serif;
  color: #05c270;
}
body main .view-semester-container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .view-semester-container .info .session {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #414958;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  border: 1px solid #555870;
}
body main .view-semester-container .info .session .value {
  background-color: rgb(43, 45, 51);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .view-semester-container .info .session .value .code {
  font-family: "Roboto Mono", monospace;
}
body main .view-semester-container .info .session .value .batch-no {
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 0.8rem;
  display: inline-block;
  font-family: "Silkscreen", cursive;
  color: #1d5461;
  background-color: #ebeaef;
}
body main .view-semester-container .all-courses .header {
  font-family: "Silkscreen", cursive;
  font-size: 1.5rem;
}
body main .view-semester-container .all-courses .courses .course-container {
  padding: 5px;
}
body main .view-semester-container .all-courses .courses .course-container .course {
  display: block;
  border: 1px solid #9090a7;
  border-left: 5px solid #9090a7;
  border-right: 5px solid #9090a7;
  background-color: #414958;
  border-radius: 10px;
  padding: 1.5rem 0.5rem;
}
body main .view-semester-container .all-courses .courses .course-container .course .course-code {
  font-size: 2rem;
  font-family: "Gemunu Libre", sans-serif;
}
body main .view-semester-container .all-courses .courses .course-container .course:hover {
  border-color: #00cfdd;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
  background-color: #1d5461;
}
body main .view-semester-container .all-courses .courses .course-container .course.drop-course {
  border: 1px solid #ff8080;
  border-left: 5px solid #ff8080;
  border-right: 5px solid #ff8080;
  background-color: rgba(237, 41, 41, 0.1);
}
body main .view-semester-container .all-courses .courses .course-container .course.drop-course:hover {
  border-color: #ff8080;
  box-shadow: 0 0 10px #28293d;
  background-color: rgba(237, 41, 41, 0.2);
}
body main .view-semester-container .all-courses .courses .course-container .adder {
  text-align: center;
  width: 100%;
  background-color: rgba(123, 144, 208, 0.5);
  height: 100%;
  border-radius: 10px;
  border: 0;
  transition: all 0.2s;
}
body main .view-semester-container .all-courses .courses .course-container .adder i {
  font-size: 4rem;
}
body main .view-semester-container .all-courses .courses .course-container .adder:hover {
  opacity: 0.8;
}
body main .view-semester-container .semester-info {
  position: relative;
  overflow: hidden;
}
body main .view-semester-container .semester-info i.bg {
  color: #414958;
  display: block;
  z-index: 0;
  font-size: 8rem;
  position: absolute;
  bottom: -2rem;
  right: -1.5rem;
}
body main .view-semester-container #dropCourseModal .modal-body .semester-container .row {
  margin-bottom: 2rem;
}
body main .view-semester-container #dropCourseModal .modal-body .semester-container .row .semester-title {
  font-size: 0.9rem;
  color: #00cfdd;
}
body main .view-semester-container #dropCourseModal .modal-body .semester-container .row:last-of-type {
  margin-bottom: 0;
}
body main .view-session-container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .view-session-container .info .dept-logo {
  width: 180px;
}
body main .view-session-container .info .session {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #414958;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  border: 1px solid #555870;
}
body main .view-session-container .info .session .value {
  background-color: rgb(43, 45, 51);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .view-session-container .info .session .value .code {
  font-family: "Roboto Mono", monospace;
}
body main .view-session-container .info .session .value .batch-no {
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 0.8rem;
  display: inline-block;
  font-family: "Silkscreen", cursive;
  color: #1d5461;
  background-color: #ebeaef;
}
body main .view-session-container .container .students-list {
  padding: 1rem;
}
body main .view-session-container .container .students-list .student {
  background-color: #414958;
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  margin: 3px;
}
body main .view-session-container .container .students-list .student .info div {
  width: 100%;
  text-align: left;
}
body main .view-session-container .container .students-list .student .info .reg-no {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  color: #9090a7;
}
body main .view-session-container .container .students-list .re-addmitted {
  background-color: #313846;
}
body main .view-session-container .container .students-list .re-addmitted .info .reg-no {
  color: #7b90d0;
}
body main .view-session-container .container .semesters .semester-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(60, 81, 92);
}
body main .view-session-container .container .semesters .semester-item .sem-codename {
  padding: 5px;
  border-radius: 5px;
  margin-right: 1.5rem;
  background-color: rgba(15, 15, 15, 0.3);
  box-shadow: 2px 2px 2px #28293d, -2px -3px 3px rgb(89, 89, 89);
}
body main .view-session-container .container .semesters .semester-item .sem-codename span {
  font-family: "Silkscreen", cursive;
  font-size: 1.5rem;
}
body main .view-session-container .container .semesters .semester-item .info {
  display: flex;
  flex-direction: column;
}
body main .view-session-container .container .semesters .semester-item .info .semester-no {
  color: #00cfdd;
}
body main .view-session-container .container .semesters .semester-item .info .exam-start-month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
body main .view-session-container .container .semesters .semester-item:hover {
  outline: 2px solid #9090a7;
}
body main .view-session-container .container .semesters .semester-item.running-semester {
  background-color: rgba(76, 155, 131, 0.5);
}
body main .view-session-container .container .semesters .semester-item.running-semester .sem-codename {
  box-shadow: 0 0 50px #05c270;
}
body main .view-session-container .container .semesters .semester-item.running-semester .info .semester-no {
  color: aquamarine;
}
body main .view-session-container .container .semesters .semester-item.running-semester:hover {
  outline: 2px solid #57eba3;
}
body main .admin-profile-edit .super-admin::before {
  content: "Super Admin";
  display: inline-block;
  padding: 0 5px;
  font-weight: normal;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: inherit;
  border: 1px solid #fccc76;
  color: #fdac41;
  border-radius: 5px;
  margin-right: 5px;
}
body main .admin-profile-edit .dept {
  color: #00cfdd;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}
body main .admin-profile-edit .dept::before {
  content: "Admin";
  display: inline-block;
  padding: 0 5px;
  font-weight: normal;
  background-color: inherit;
  border: 1px solid #9dbff8;
  color: #9dbff8;
  border-radius: 5px;
  margin-right: 10px;
}
body main .student-profile-container .profile-card {
  position: relative;
  overflow: hidden;
}
body main .student-profile-container .profile-card .readd-badge {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #475275;
}
body main .student-profile-container .profile-card .readd-badge i, body main .student-profile-container .profile-card .readd-badge span {
  color: #809df3;
}
body main .student-profile-container .profile-card .readd-badge i {
  font-size: 1.2rem;
  margin-right: 5px;
}
body main .student-profile-container .profile-card .readd-badge span {
  font-family: "Silkscreen", cursive;
}
body main .student-profile-container .semester-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(65, 88, 100);
}
body main .student-profile-container .semester-item .sem-codename {
  padding: 5px;
  border-radius: 5px;
  margin-right: 1.5rem;
  background-color: rgba(15, 15, 15, 0.3);
  box-shadow: 0 0 50px rgb(59, 202, 212);
}
body main .student-profile-container .semester-item .sem-codename span {
  font-family: "Silkscreen", cursive;
  font-size: 1.5rem;
}
body main .student-profile-container .semester-item .info {
  display: flex;
  flex-direction: column;
}
body main .student-profile-container .semester-item .info .semester-no {
  color: #00cfdd;
}
body main .student-profile-container .semester-item .info .exam-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
body main .student-profile-container .semester-item:hover {
  outline: 2px solid #6990a2;
}
body main .student-profile-container .semester-item.running-semester {
  background-color: rgba(76, 155, 131, 0.5);
}
body main .student-profile-container .semester-item.running-semester .sem-codename {
  box-shadow: 0 0 50px #05c270;
}
body main .student-profile-container .semester-item.running-semester .info .semester-no {
  color: aquamarine;
}
body main .student-profile-container .semester-item.running-semester:hover {
  outline: 2px solid #57eba3;
}
body main .student-profile-container .sem-gradesheet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgb(209, 209, 209);
  background-color: #1d5461;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: all 0.2s;
  box-shadow: none;
}
body main .student-profile-container .sem-gradesheet i {
  font-size: 1.5rem;
  margin-right: 5px;
}
body main .student-profile-container .sem-gradesheet:hover {
  background-color: #225d69;
}
body main .student-profile-container .year-gradesheet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgb(209, 209, 209);
  padding: 20px 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-color: #224769;
  box-shadow: none !important;
}
body main .student-profile-container .year-gradesheet i {
  color: #b5daff;
  font-size: 2rem;
  margin-right: 10px;
  transition: all 300ms;
}
body main .student-profile-container .year-gradesheet .num {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  font-size: 3rem;
  bottom: -30%;
  right: 0;
  font-family: "Silkscreen", cursive;
  text-shadow: 0 0 10px rgba(216, 228, 231, 0.4);
  transition: 300ms;
}
body main .student-profile-container .year-gradesheet:hover {
  background-color: #2d5071;
}
body main .student-profile-container .year-gradesheet:hover i {
  color: white;
}
body main .student-profile-container .year-gradesheet:hover .num {
  color: rgba(255, 255, 255, 0.9);
}
body main .student-profile-container .class-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .student-profile-container .class-position .position span {
  font-family: "Gemunu Libre", sans-serif;
}
body main .student-profile-container .class-position .position span.num {
  font-size: 3rem;
  text-shadow: 0 0 5px rgba(78, 189, 152, 0.2);
  color: #05c270 !important;
}
body main .student-profile-container .class-position .position span.ordinal {
  font-size: 1.5rem;
  color: #b6c0de !important;
}
body main .student-profile-container .class-position .label {
  color: #9090a7;
}

.profile {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  padding: 5px 25px 5px 5px;
  background-color: #555870;
  box-shadow: 0px 2px 10px #28293d;
  border-radius: 50px;
}
.profile a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile a .info .name {
  color: #ebeaef;
  font-family: "Fraunces", sans-serif;
}
.profile a .info .dept {
  color: #00cfdd;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}
.profile a .info .dept::before {
  content: "Admin";
  display: inline-block;
  padding: 0 5px;
  font-weight: normal;
  background-color: inherit;
  border: 1px solid #9dbff8;
  color: #9dbff8;
  border-radius: 5px;
  margin-right: 5px;
}
.profile a .info .super-admin::before {
  content: "Super Admin";
  display: inline-block;
  padding: 0 5px;
  font-weight: normal;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: inherit;
  border: 1px solid #fccc76;
  color: #fdac41;
  border-radius: 5px;
  margin-right: 5px;
}

.title-box {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  border: 2px solid rgba(137, 153, 149, 0.3568627451);
  padding: 0;
}
.title-box .title {
  background-color: rgba(137, 153, 149, 0.3568627451);
  font-family: "Gemunu Libre", sans-serif;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: #ebeaef;
  text-align: center;
}
.title-box .content {
  margin: 1rem;
}
.title-box .content .no-content {
  padding: 1rem 0;
}
.title-box .content .no-content .icon i {
  font-size: 3rem;
  color: gray;
}
.title-box .content .no-content .info {
  font-size: 1.2rem;
  color: gray;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */